In [5]:
import pandas as pd
import sklearn

In [9]:
raw_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
len(raw_df)

3

In [11]:
raw_df[0].head(1), raw_df[1].head(1), raw_df[2].head(1)

(  Postal Code       Borough Neighbourhood
 0         M1A  Not assigned  Not assigned,
     0                      1    2    3    4    5    6    7    8    9    10  \
 0  NaN  Canadian postal codes  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

     11   12   13   14   15   16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT)

<h3><B> It is clear that only the first table is relevant

In [24]:
df = raw_df[0]
df.shape, df.head()

((180, 3),
   Postal Code           Borough              Neighbourhood
 0         M1A      Not assigned               Not assigned
 1         M2A      Not assigned               Not assigned
 2         M3A        North York                  Parkwoods
 3         M4A        North York           Victoria Village
 4         M5A  Downtown Toronto  Regent Park, Harbourfront)

<h3><B> Remove entries having borough not assigned

In [26]:
df = df[df["Borough"] != "Not assigned"]
df.reset_index(inplace = True)
df = df.drop("index", axis = 1)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h3><B> Group by Postal Code

In [85]:
df_new = pd.DataFrame(columns = df.columns)
for i in df.groupby(["Postal Code"]):
    df_new = df_new.append({"Postal Code":i[1].loc[:, "Postal Code"].squeeze(), 
                            "Borough":i[1].loc[:, "Borough"].squeeze(), 
                            "Neighbourhood":i[1].loc[:, "Neighbourhood"].squeeze()}, ignore_index = True)

# df_new[df_new["Neighbourhood"] == "Not Assigned"].head()
df_new.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

<h3><B> Deal with unassigned neighbourhoods

In [89]:
for i, row in df.iterrows():
    if row["Neighbourhood"] == "Not Assigned":
        df.loc[i, ["Neighbourhood"]] = [row["Borough"]]
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                   North York
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [91]:
df.shape

(103, 3)